﻿@model TT.Domain.Identity.DTOs.UserDonatorDetail

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Donator.List())">Back</a></li>
}

<div class="containerInner">

    <h1>Edit Donator</h1>


@using (Html.BeginForm(MVC.Donator.EditSend(), FormMethod.Post))
{

    <label>UserId</label>
    @Html.TextBox("UserId", Model.Id)

    <br><br>

    <label>UserName: </label>
    <b>@Model.UserName</b>

    <br><br>

    <label>Patreon Name</label>
    @Html.TextBox("PatreonName", Model.Donator.PatreonName)

    <br><br>

    <label>Tier (1, 2, or 3)</label>
    @Html.TextBox("Tier", Model.Donator.Tier, new { @type = "number", @min = "0", @max = "3" })

    <br><br>

    <label>Raw Donation Amount</label>
    @Html.TextBox("ActualDonationAmount", Model.Donator.ActualDonationAmount)

    <br><br>

    <label>Misc Notes</label>
    @Html.TextArea("SpecialNotes", Model.Donator.SpecialNotes)

    <br><br>

    <input type="submit" value="Save">
}

</div>