﻿@model IEnumerable<TT.Domain.Models.NewsPost>
@using TT.Domain.Statics
@{
    ViewBag.Title = "News Archive";
}
@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    <li><a href="@Url.Action(MVC.Info.GameNews())">News</a></li>
    <li><a href="@Url.Action(MVC.Info.Rules())">Rules of Play</a></li>
}
<div class="containerInner textSpaced listdots">
    <h1>Archived Updates, News, and Announcements</h1>
    @{
        foreach (var n in Model)
        {
            if (User.IsInRole(PvPStatics.Permissions_Admin) || User.IsInRole(PvPStatics.Permissions_Moderator))
            {
                <a href="@Url.Action(MVC.Moderator.EditNewsPost(n.Id))" class="bad">[Edit]</a>
            }
            <p>@n.Timestamp.ToString("MMMM d")</p>
            @Html.Raw(n.Text)
            <hr>
        }
    }
</div>